* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: rpeat(12, 1fr);
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-color: white;
  h2 {
    color: green;
  }
  div {
  }
  a {
    margin: 0 1em;
    text-decoration-line: none;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row-start: 2;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 13;
}

#cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  min-height: 30vh;
  min-width: 80vw;
}

#tripsDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
}

.ticketDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  padding: 0.5em;
  width: 70%;

  border-radius: 5px;

  button {
    background-color: green;
    color: white;
    padding: 0.5em;
    border-radius: 10px;
  }
}

#divTotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background-color: darkblue;
  color: white;
  height: 6em;
  width: 100%;
  overflow: hidden;
}
#purchase {
  background-color: lightgreen;
  color: white;
  padding: 1em;
}
#purchase:hover {
  cursor: pointer;
}
