* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: rpeat(12, 1fr);
  height: 100vh;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-color: white;
  h2 {
    color: green;
  }
  div {
  }
  a {
    margin: 0 1em;
    text-decoration-line: none;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding: 2em 0;

  grid-row-start: 2;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url("images/background.jpg");
  background-size: cover;

  h1,
  h3 {
    color: white;
  }
}

#container {
  height: 60%;
  width: 50%;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  grid-row-start: 1;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 1em 0;
  border-radius: 10px;
}

#inputTrips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

#search {
  width: 90%;
  height: 3em;
  background-color: green;
  color: white;
}

#search:hover {
  cursor: pointer;
}

.input {
  width: 90%;
  height: 2em;
  background-color: lightgrey;
  border: none;
}

#trips {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  img {
    border-bottom: solid 5px green;
  }

  background-color: white;
  grid-row-start: 1;
  grid-row-end: 11;
  grid-column-start: 5;
  grid-column-end: 8;
  padding: 1em 0;
  border-radius: 10px;
}
